/* external */
a {
	text-decoration: none;
}

.w3-bar-item img {
	height: 45px;
	width: 100%;
	outline: none;
}

.w3-bar-item img:active {
	outline: none;
}

/* fonts */
@font-face {
	font-family: 'Montserrat';
	font-weight: 300;
	src: local('Montserrat Light'), url('../app/images/fonts/Montserrat-Light.ttf') format('opentype');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: local('Montserrat'), url('../app/images/fonts/Montserrat-Regular.ttf') format('opentype');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	src: local('Montserrat Medium'), url('../app/images/fonts/Montserrat-Medium.ttf') format('opentype');
}

.w3-montserrat-small {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.w3-montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.w3-montserrat-bold {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.w3-montserrat-large {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 500;
	letter-spacing: 2px;
	/* text-transform: uppercase; */
}

/* buttons */
.btn-join {
	padding: 15px;
	transition: all .1s ease-in-out;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	white-space: normal;
}

.theme-orange-light {
	color: #fff !important;
	/* background-color: #4cd1ff !important; */
	background-color: #ffb44c !important;
}

/* page elements */
.full-height {
	height: 100%;
	/* opacity: 1; */
}

.terms-icons {
	color: rgb(0, 0, 0);
	height: 60px;
	margin-left: 10px;
	margin-right: 10px;
}

.terms-max-height {
	max-height: 100px;
	overflow-y: auto;
}

.banner {
	background: url('../app/images/sale-banner.svg');
	background-size: cover;
	width: 100vw;
  padding-bottom: 72px;
	margin: 0px;
  margin-top: 60px;
}

.contract-text {
	letter-spacing: 2px;
	font-size: 3vw;
}

.logo-size {
	margin-top: 2px;
}

.logo-icon-size {
	margin-top: 5px;
	height: 200px;
}

.card-size {
	margin-bottom: 15px;
	height: 180px;
}

.status {
	top: -40px;
	margin-right: 24px;
	margin-left: 24px;
	margin-top: 0px;
}

.video-neureal {
	width: 100%;
	box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.182);
	margin-bottom: 25px;
}

.social-icons-footer {
	color: rgb(0, 0, 0);
	height: 35px;
	margin: 7.5px;
	margin-left: 5px;
	margin-right: 5px;
}
